// Add container styles here.

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    // max-width: 1400px;
}

/******************
    Media Queries - Desktop
*******************/

@media (min-width: 800px) {
}
