@use '../abstracts' as *;

/* Blog Page Styles */

/*****************
    Blog Section
******************/
.blog {
    margin: 2em 0 4em;

    &__post-list {
        list-style: none;
        padding: 0;
    }

    &__post-item {
        display: flex;
        border-bottom: 2px solid $grey-200;
        gap: 0.5em;
        padding: 1.5em 0;

        @media (min-width: 600px) {
            padding-left: 2em;
            padding-right: 2em;
        }

        &__content {
            display: grid;
            flex: 0 1 76%;

            h3 {
                font-size: $h3;
                margin-bottom: 0;
                margin-top: 0.25em;
                letter-spacing: 0;
                line-height: 1.2;

                a {
                    color: $black;

                    &:hover {
                        text-decoration-color: transparent;
                        color: $primary-clr;
                    }
                }
            }

            p {
                display: none;

                @media (min-width: 600px) {
                    display: block;
                }
            }
        }

        &__date {
            color: $grey-400;
        }

        &__meta {
            align-self: baseline;
            margin-top: .5em;

            span {
                color: $text-clr;
                font-size: $font-small;
            }

            span:first-of-type {
                background-color: $grey-bg;
                border-radius: $border-radius--large;
                font-weight: 500;
                letter-spacing: -0.25px;
                margin-right: .5em;
                padding: 0.5em 1em;
            }
        }

        &__image {
            border-radius: $border-radius--small;
            overflow: hidden;
            width: 120px;
            height: 120px;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            @media (min-width: 600px) {
                width: 220px;
                height: 180px;
            }
        }
    }

    &__tags {
        border-bottom: 1px solid $grey-100;
        border-radius: $border-radius--small;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .125em;
        background-color: $grey-bg;
        padding: 1.25em 1.5em 0.875em;

        span {
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        &-list {
            list-style: none;
            display: flex;
            align-items: center;
            column-gap: 0.5em;
            padding: 0;
            min-height: 54px;
            overflow-x: auto;
            overflow-y: hidden;

            li:first-of-type a {
                display: flex;
                align-items: center;
                gap: .125em;

                span {
                    color: $primary-clr;
                    font-size: $font-medium;
                }
            }

        }

        &-item-link {
            background-color: $white;
            border: 2px solid $grey-200;
            border-radius: $border-radius--small;
            color: $text-clr;
            font-size: $font-medium;
            font-weight: 500;
            padding: .5em .75em;
            overflow: hidden;
            white-space: nowrap;

            &.current {
                background-color: $primary-100;
                border-color: $primary-clr;
            }

            &:hover {
                border-color: $primary-clr;
                text-decoration-color: transparent;
            }
        }
    }
}

// Wordpress body fix
body.blog.mt-0 {
    margin-top: 0;
}