@use '../abstracts' as *;

/* Contact Page Styles */

/*****************
    Contact Form
******************/
.contact__form {
  background-color: $grey-bg;
  border-radius: $border-radius--medium;
  margin: 2em auto;
  max-width: 500px;
  padding: 3em 2em;

  .btn--black {
    padding: 0.75em 2em;

    &:hover {
      background-color: $primary-clr;
    }
  }
}

/*****************
    Social links
******************/
.social {
  margin-top: 1em;
  margin-bottom: 4em;

  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;

    li {
      background: linear-gradient(to right, $grey-bg, $grey-200);
      padding: 0.25em 1em;
      cursor: pointer;
      border-radius: 0.5em;
      font-size: $h4;
      font-weight: 500;

      &:nth-of-type(1) {
        color: #FF2724;
      }

      &:nth-of-type(2) {
        color: #0072B1;
      }

      &:nth-of-type(3) {
        color: $black;
      }

      &:hover {
        color: $link-blue;
        transition: background-color 300ms ease-out;
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 1em;
      color: inherit;
      padding: 1em 0.125em;
      text-decoration-color: transparent;
    }
  }
}