@use '../abstracts' as *;

/* Contact Page Styles */

/*****************
    Contact Form
******************/
.contact__form {
  background-color: $grey-bg;
  border-radius: $border-radius--medium;
  margin: 2em auto;
  max-width: 500px;
  padding: 3em 2em;

  .btn--black {
    padding: 0.75em 2em;

    &:hover {
      background-color: $primary-clr;
    }
  }
}

/*****************
    Social links
******************/
.social {
  margin-top: 1em;
  margin-bottom: 4em;

  &__links {
    list-style: none;

    li {
      padding: 0.25em 0.5em;
      margin-bottom: 1em;
      gap: 0.5em;
      background-color: $black;
      cursor: pointer;
      border-radius: 0.5em;
      font-size: $h4;

      &:nth-of-type(1) {
        background-color: darkgreen;
      }

      &:nth-of-type(2) {
        background-color: darkblue;
      }

      &:hover {
        background-color: $link-blue;
      }
    }

    a {
      color: $white;
      display: block;
      height: 100%;
      padding: 1em;
      text-decoration-color: transparent;
      width: 100%;
    }
  }
}