@use '../abstracts' as *;

/* Portfolio Page Styles */

/*****************
    Projects Section
******************/
.projects {
    margin-top: 0 4em;

    &__project {
        display: flex;
        flex-direction: column;
        gap: 1em;
        counter-increment: projectIndex;
        margin-bottom: 4em;
        position: relative;

        &::before {
            content: counter(projectIndex);
            position: absolute;
            top: -0.75em;
            right: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $grey-bg;
            border-radius: 50%;
            border: 2px solid $grey-200;
            color: $text-clr;
            font-size: $h3;
            height: 40px;
            width: 40px;
            z-index: 10;
        }
    }

    &__card {
        padding: 3em 2em;
        border-radius: 10px;
        position: relative;
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.05);
        background-color: hsl($primary-hue, 12%, 10%);
        transition: border-color 200ms ease-in-out;


        &__heading {
            color: $white;
            margin-bottom: 0.5em;

            em {
                color: $grey-300;
            }
        }

        &__badges {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            margin-bottom: 0.75em;

            span {
                background-color: hsl($primary-hue, 12%, 20%);
                border-radius: $border-radius--small;
                color: $grey-300;
                font-size: 0.75rem;
                padding: 6px 10px;


                &:first-of-type {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    &::before {
                        content: "";
                        display: block;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: green;
                    }
                }
            }
        }

        &__desc {
            margin-bottom: 1em;
            color: $grey-200;
        }

        &:first-child:after {
            background: linear-gradient(darkred, $sec-clr);
            content: "";
            clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 75%, 0% 100%);
            color: $sec-clr;
            position: absolute;
            top: 0;
            left: 2em;
            width: 32px;
            height: 40px;
        }
    }

    :nth-of-type(2) .projects__card {
        background-color: $grey-bg;

        &__heading {
            color: $grey-400;
            margin-bottom: 0.5em;

            em {
                color: $black;
            }
        }

        &__badges span {
            background-color: $grey-200;
            color: $text-clr;
        }

        &__desc {
            color: $text-clr;
        }

        &:first-of-type:first-child:after {
            background: linear-gradient(darkblue, $link-blue);
        }
    }

    .all_skills {
        background-color: transparent !important;
        border: none;
        padding: 0 1em;

        h3 {
            margin-bottom: .5em;
        }
    }

    &__skills {
        display: flex;
        flex-wrap: wrap;
        gap: .375em;

        span {
            cursor: default;
            background-color: $grey-100;
            border: 2px dashed transparent;
            border-radius: $border-radius--large;
            color: $text-clr;
            font-size: .875rem;
            padding: .25em .75em;

            &:hover {
                border-color: $primary-clr;
            }
        }
    }
}